.msgContainer {
  display: flex;
  height: 100%;
  /* width: 80%; */
}

.msgPart {
  width: 80%;
  height: 80%;
  margin: 12px 10px 0 45px;
  overflow-y: auto;
  padding-top: 15px;
}
.emoji {
  height: 80%;
  width: 20%;
  margin: auto;
}
.msgDiv {
  height: 100%;
}
.sendType {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.msgPart {
  width: 75%;
  border-style: groove;
}
.btn {
  margin-left: 10px;
}

.btn-primary {
  background-color: #007bff;
  font-family: Rubik;
  font-size: 15px;
}
