.agentClass {
  display: flex;
  flex-direction: row-reverse;
}

.agentInitials {
  display: flex;
  flex-direction: row-reverse;
}
.dynamic-chats-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.bdgVisitor {
  border-radius: 50%;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  background-color: rgb(158, 157, 36);
  aspect-ratio: 1;
  text-transform: uppercase;
}
.loopingContainer {
  width: 100%;
  display: flex;
}

.bdgAgent {
  /* height: 80%; */
  border-radius: 50%;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  background-color: rgb(38, 166, 154);
  aspect-ratio: 1;
  text-transform: uppercase;
}
.customerA {
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #f0f4f8;
  color: #2f2f2f;
  font-size: 15px;
  font-family: Rubik;
  border-radius: 17px 0px 17px 17px;
  padding: 7px 15px 7px 19px;
}
.customerP {
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #16449b;
  color: white;
  border-radius: 0 17px 17px 17px;
  padding: 7px 15px 7px 19px;
  font-size: 15px;
  font-family: Rubik;
}
h6 {
  font-size: 11px;
  margin-bottom: 1px;
}
.msgContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 35px;
}
.msgCustomer {
  margin-right: 15px;
}

.msgnum {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 15px 0 15px;
  /* margin-left: 5px; */
}

.firstMsg {
  margin-top: 20px;
}
.visitorLogo {
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  aspect-ratio: 1;
  margin-left: 10px;
  margin-right: 4px;
}
.agentLogo {
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  aspect-ratio: 1;
  margin-right: 10px;
  margin-left: 4px;
}

.scroll-bar {
  width: 2px;
}
.msg {
  width: 95%;
}
.msgText {
  display: flex;
  /* flex-direction: row-reverse; */

  max-width: 70%;
}
.msgA {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
