<div class="msgContainer">
    <!-- MSG 1 -->
    <div class="msgnum firstMsg">

        <!-- <div class="logo"> -->
            <div class="visitorLogo">
                <span class="bdgVisitor">V</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  1</h6>
            </div>
            <div class="msgText msgCustomer">
                <p class="customerP">msg 1</p>

            </div>
        </div>
    </div>
    <!-- MSG 2 -->
    <div class="msgnum agentClass">

            <div class="agentLogo">
                <span class="bdgAgent">A</span>
            </div>
        
        
        <div class="msg msgA" >
            <div class="agentInitials">
                <h6>Agent 1</h6>
            </div>
            <div class="msgText">
                <p class="customerA">Welcome tocheckin-billing3Before we go ahead, Could you please share your email address, So that we can stay connected.</p>

            </div>
        </div>
    </div>
    <!-- MSG 3 -->
    <div class="msgnum">

            <div class="visitorLogo">
                <span class="bdgVisitor">V</span>
            </div>
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor 1</h6>
            </div>
            <div class="msgText msgCustomer">
                <p class="customerP">Sharing the details sfljsafk;laf  ;flsk  klllllllll flkkkkkkkkkkk llllllllllllllll sssssssssssss kkkkkkkkkk</p>

            </div>
        </div>
    </div>
    <!-- MSG 4 -->
    <div class="msgnum agentClass">

            <div class="agentLogo">
                <span class="bdgAgent">A</span>
            </div>
        
        
        <div class="msg msgA" >
            <div class="agentInitials">
                <h6>Agent 1</h6>
            </div>
            <div class="msgText">
                <p class="customerA">Welcome tocheckin-billing3Before we go ahead, Could you please share your email address, So that we can stay connected.
                    Welcome tocheckin-billing3Before we go ahead, Could you please share your email address, So that we can stay connected.
                    Welcome tocheckin-billing3Before we go ahead, Could you please share your email address, So that we can stay connected.


                </p>

            </div>
        </div>
    </div>
    <!-- Msg 5 -->
    <div class="msgnum ">

        <div class="visitorLogo">
            <span class="bdgVisitor">V</span>
        </div>
    
    
    <div class="msg" >
        <div class="customer">
            <h6>demo-visitor 1</h6>
        </div>
        <div class="msgText msgCustomer">
            <p class="customerP">Welcome tocheckin-billing3Before we go ahead, Could you please share your email address, So that we can stay connected.
                Welcome tocheckin-billing3Before we go ahead, Could you please share your email address, So that we can stay connected.
                Welcome tocheckin-billing3Before we go ahead, Could you please share your email address, So that we can stay connected.


            </p>

        </div>
    </div>
</div>
</div>