.parentContainer{
    display: flex;
    height: 100vh;
}
.leftSide{
    width: 25%;
    
}
.rightSide{
    width: 75%;
    /* margin-right: auto; */
    /* margin-left: auto; */
    border: solid;
    border-color: #F2F4F6;
}