
<div class="allChatsContainer">

    <div class="chatsHeader">
        <h6><u>My Chats</u>   </h6>
    </div>

    <!-- Chat 1  -->
    <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">V</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>


      <!-- Chat 2  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">D</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 2</p>

            </div>
        </div>

    </div>




      <!-- Chat 3  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">N</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>New-visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1 sf fs afa </p>

            </div>
        </div>

    </div>




      <!-- Chat 4  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">D</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  2</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>




      <!-- Chat 5  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">N</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>New-visitor  2</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>




      <!-- Chat 1  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">V</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>




      <!-- Chat 1  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">V</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>




      <!-- Chat 1  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">V</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>




      <!-- Chat 1  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">V</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>




      <!-- Chat 1  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">V</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>

      <!-- Chat 1  -->
      <div class="msgNum">
        
        <!-- <div class="logo"> -->
            <div class="customerLogo">
                <span class="bdgVisitor">V</span>
            </div>
        <!-- </div> -->
        
        
        <div class="msg" >
            <div class="customer">
                <h6>demo-visitor  1</h6>
            </div>
            <div class="msgText">
                <p class="customerP">msg 1</p>

            </div>
        </div>

    </div>



  <!-- Chat 1  -->
  <div class="msgNum">
        
    <!-- <div class="logo"> -->
        <div class="customerLogo">
            <span class="bdgVisitor">V</span>
        </div>
    <!-- </div> -->
    
    
    <div class="msg" >
        <div class="customer">
            <h6>demo-visitor  1</h6>
        </div>
        <div class="msgText">
            <p class="customerP">msg 1</p>

        </div>
    </div>

</div>






  <!-- Chat 1  -->
  <div class="msgNum">
        
    <!-- <div class="logo"> -->
        <div class="customerLogo">
            <span class="bdgVisitor">V</span>
        </div>
    <!-- </div> -->
    
    
    <div class="msg" >
        <div class="customer">
            <h6>demo-visitor  1</h6>
        </div>
        <div class="msgText">
            <p class="customerP">msg 1</p>

        </div>
    </div>

</div>













</div>